{%- comment -%}
  Payment Icons Snippet
  Renders all enabled payment types from Shopify settings
{%- endcomment -%}

<div class="payment-icons">
  <span class="visually-hidden">{{ 'general.payment_methods' | t }}</span>
  <ul class="payment-icons__list" role="list">
    {%- for type in shop.enabled_payment_types -%}
      <li class="payment-icons__item">
        {{ type | payment_type_svg_tag: class: 'payment-icon' }}
      </li>
    {%- endfor -%}
  </ul>
</div>